/* Global */
/* - Navigation */
/* - Empty home (desktop only) */
/* - Common view */
/* - Web view */
/* - Web view */
/* Mobile */
.gacha-home {
  display: flex;
  flex-direction: row;
  min-height: calc(100% - 40px);
  height: calc(100% - 40px);

  .home-navigation {
    width: 300px;
    height: 100%;
    overflow: auto;
    border-right: 2px solid #294767;

    .filters-section {
      background: #0b1219;
      border-bottom: 1px solid #294767;
      cursor: pointer;

      h4 {
        padding-left: 10px;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .fa-bars {
        padding-right: 5px;
      }

      .home-filter-view {
        border-top: 1px solid #ccc;
        font-size: 0.9em;
        padding: 10px 0 10px 5px;

        .home-filter-group {
          padding-bottom: 5px;

          input[type='text'] {
            width: calc(100% - 15px);
          }
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        cursor: pointer;
        padding: 5px;

        &:hover {
          background: #0c1219;
        }

        .card-list-item {
          display: flex;
          align-items: center;

          .fusion-icon {
            font-size: 0.75em;
            color: cyan;
            width: 15px;
          }

          .level-icon {
            font-size: 0.5em;
            color: gold;
            width: 40px;
          }

          .card-name {
            font-size: 0.9em;
          }
        }
      }
    }

    .fusion-dependencies {
      padding-left: 15px;

      h5 {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
  }

  .home-empty-view {
    width: calc(100% - 300px);
    font-size: 30px;
    color: #ccc;

    .filter-arrow {
      padding: 20px 0 0 70px;
      color: #3a5979;
    }

    .filter-text {
      padding-left: 100px;
      padding-bottom: 50px;
    }

    .pick-card-text {
      padding-left: 100px;
      padding-top: 50px;
    }

    .pick-card-arrow {
      padding: 0 0 20px 70px;
      color: #3a5979;
    }

    .details-text {
      text-align: center;
      padding-top: 40px;

      .fa-info-circle {
        padding-right: 10px;
      }
    }
  }

  .gacha-home-mobile-view {
    .gacha-home-mobile-view-card-block {
      color: #333;
      margin-left: auto;
      margin-right: auto;
      width: 25vw;
      min-width: 200px;
    }

    padding: 10px;
    width: 100%;
  }

  .gacha-home-web-view {
    .gacha-home-web-view-card-block {
      color: #333;
      margin-left: auto;
      margin-right: auto;
      width: 25vw;
      min-width: 200px;
    }

    padding: 30px;
    width: calc(100% - 300px);
    overflow: auto;
  }

  .card-lore {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}

.gacha-home-web-view {
  ul.fusion-details {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      cursor: pointer;
      padding: 5px;

      &:hover {
        background: #0c1219;
      }

      .card-list-item {
        display: flex;
        align-items: center;

        .fusion-icon {
          font-size: 0.75em;
          color: cyan;
          width: 15px;
        }

        .level-icon {
          font-size: 0.5em;
          color: gold;
          width: 40px;
        }

        .card-name {
          font-size: 0.9em;
        }
      }
    }
  }

  .fusion-dependencies {
    padding-left: 15px;

    h5 {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: 600px) {
  .gacha-home {
    .home-navigation {
      width: 100%;
    }
  }
}
